<component name="ArtifactManager">
  <artifact type="war" name="spring-custom:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-custom-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-custom:war exploded" />
    </root>
  </artifact>
</component>